// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

a:has(svg), button:has(svg) {
    display: inline-flex !important;
    align-items: center;
    column-gap: 0.5em;
}

.dropdown-hide-caret .dropdown-toggle {
    display: inline-flex;
    padding: 0;
    &::after{
        display: none;
    }
}
